body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    color: white;
    background-color: brown;
    background-position: center 0;
    margin: 0;

    
}

.header{
    padding: 10px;
    text-align: center;
    background: white;
    color: black; 
}

.header h1 {
    font-size: 30px;
    text-align: left;
}

.navbar {
    overflow: hidden;
    background-color: lightgray;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: black;
    color: white;

}

.main {
    position: relative;
    left: 0px;
    top: 0px;
}

.downloadbtn {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 20px 20px;
}

.downloadbtn:hover {
    background-color: gray;
    color: white;
}
